// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-4-16/gtk/theme/Default/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window.Bar {
    background: transparent;

    > box {
        min-height: 36px;
        padding: 2px 18px;
        background: transparent;
        color: $fg-color;

        font-family: SF Pro Display;
        font-weight: medium;
        font-size: 13px;
    }

    .menubar-item {
        > * + * {
            margin-left: 6px;
        }
    }
}

